@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm Model="Materiales" OnValidSubmit="OnValidSubmit" ReturnAction="Return">

    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre Material</label>
        <div>
            <InputText @bind-Value="Materiales.Nombre" />
            <ValidationMessage For="@(()=>Materiales.Nombre)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Cantidad</label>
        <div>
            <InputNumber @bind-Value="Materiales.Cantidad" />
            <ValidationMessage For="@(()=>Materiales.Cantidad)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Nombre Proveedor</label>
        <div>
            <InputText @bind-Value="Materiales.Provedor" />
            <ValidationMessage For="@(()=>Materiales.Provedor)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Fecha De Entrega</label>
        <div>
            <InputDate @bind-Value="Materiales.FechaEntregaAprox" />
            <ValidationMessage For="@(()=>Materiales.FechaEntregaAprox)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

</EditForm>

@code {
    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Materiales);
    }

    [EditorRequired]
    [Parameter]
    public Material Materiales{ get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}
