@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm Model="maquinarias" OnValidSubmit="OnValidSubmit" ReturnAction="Return">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre Maquinaria:</label>
        <div>
            <InputText @bind-Value="maquinarias.Nombre" />
            <ValidationMessage For="@(()=>maquinarias.Nombre)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Cantidad Maquinas:</label>
        <div>
            <InputNumber @bind-Value="maquinarias.Cantidad" />
            <ValidationMessage For="@(()=>maquinarias.Cantidad)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Estado</label>
        <div>
            <ul>
                <li>Selecciona la casilla si la Maquina esta buena</li>
                <li>En caso contrario dejela vacia</li>
            </ul>
        </div>
        <div>
            <InputCheckbox @bind-Value="maquinarias.Estado" />
            <ValidationMessage For="@(()=>maquinarias.Estado)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Disponibilidad:</label>
        <div>
            <ul>
                <li>Selecciona la casilla si la Maquina esta Disponible</li>
                <li>En caso contrario dejela vacia</li>
            </ul>
        </div>
        <div>
            <InputCheckbox @bind-Value="maquinarias.Disponibilidad" />
            <ValidationMessage For="@(()=>maquinarias.Disponibilidad)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

</EditForm>

@code {
    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(maquinarias);
    }


    [EditorRequired]
    [Parameter]
    public Maquinaria maquinarias{ get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}
