@page "/equipoContruccion/create"
@using Construction.WEB.Repositories
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h1>Creacion Nuevo Equipo Construccion</h1>

<EquipoContruccionForm equipoConstrucciones="equipoConstrucciones" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private EquipoConstruccion equipoConstrucciones = new();
    private EquipoContruccionForm equipoContruccionForm;

    private async Task Create()
    {


        var responseHttp = await repository.PostAsync("/api/EquipoConstrucciones", equipoConstrucciones);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;


        }

        Return();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });


        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {


        // proyectoContruccionForn!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/equipoContruccion");
    }
}
