@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm Model="tareas" OnValidSubmit="OnValidSubmit" ReturnAction="Return">

    <DataAnnotationsValidator/>

    <div class="mb-3">
        <label>Nombre de la Tarea:</label>
        <div>
            <InputText @bind-Value="tareas.Nombre" />
            <ValidationMessage For="@(()=>tareas.Nombre)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Descripcion de la Tarea:</label>
        <div>
            <InputText @bind-Value="tareas.Descripcion" />
            <ValidationMessage For="@(()=>tareas.Descripcion)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Fecha Inicio Tarea:</label>
        <div>
            <InputDate @bind-Value="tareas.FechaInicio" />
            <ValidationMessage For="@(()=>tareas.FechaInicio)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Fecha Entrega</label>
        <div>
            <InputDate @bind-Value="tareas.FechaAproxFinalizacion" />
            <ValidationMessage For="@(()=>tareas.FechaAproxFinalizacion)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

</EditForm>

@code {
    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(tareas);
    }
    [EditorRequired]
    [Parameter]
    public Tarea tareas { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}
