<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Construction.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">   
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/proyectoContrucciones">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Proyecto De Construccion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/equipoContruccion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Equipo De Construccion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/tarea">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>  Tarea
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/presupuesto">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>  Presupuesto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/materiales">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>  Materiales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/maquinaria">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" ></span>  Maquinaria
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AsignacionEquipoContruccion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>  Equipos Con Proyecto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AsignacionTareaMateriales">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>  Tareas Con Materiales
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
