@page "/AsignacionEquipoContruccion/create"
@using Construction.WEB.Repositories
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h1>Asignacion Equipo Construccion Con Proyecto Contruccion</h1>

<AEquipoContruccionForm asignacionEquipo="asignacionEquipos" OnValidSubmit="Create" ReturnAction="Return"/>

@code {
    private AsignacionEquipo asignacionEquipos = new();
    private AEquipoContruccionForm equipoContruccionForm;

    private async Task Create()
    {


        var responseHttp = await repository.PostAsync("/api/AsignacionEquipos", asignacionEquipos);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;


        }

        Return();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });


        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {


        // proyectoContruccionForn!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/AsignacionEquipoContruccion");
    }
}
